.logo {
  width: 45vw;
  display: flex;
  align-items: center;
}

.logo img {
  padding: 0px 64px;
}

.logo hr {
  display: none;
}

@media (min-width: 1024px) {
  .logo hr {
    display: block;
    width: 35vw;
    height: 2px;
    border: none;
    background-color: rgba(151, 151, 151, 0.25);
    position: absolute;
    left: 12%;
    z-index: 1;
  }
}
