.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  height: 96px;
  width: 55vw;
  padding-left: 180px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
  font-family: var(--font-brand-1);
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-primary);
  text-transform: uppercase;
  word-spacing: 12px;
  font-size: 16px;
  letter-spacing: 2px;
}

.nav span {
  letter-spacing: 2.7px;
  font-weight: 600;
}
